# Servidor
PORT=3000

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=task_manager_db
DB_USER=root
DB_PASSWORD=root
# JWT
JWT_SECRET=558be211e89eb932b6a199f9f838bf0145f9e14b66877a2338a22e77538d0a81
JWT_EXPIRES_IN=24h
